#page-header {
	position: relative;
	background: #fff;
	padding: 20px 0 13px;
}
#page-footer {
	padding: 20px 0;
	margin: auto;
	border-top: 1px solid #dfe1e4;
	@media @xs, @xxs {
		max-width: 380px;
	}
}
.header_logo { 
	float: left;
	width: 212px;
	margin: 15px auto;
	@media (max-width:600px) {
		float: none;
	}
	a { 
		display: block;
		height: 42px;
		font-size: 0;
		background: url(../images/logo/01.png) no-repeat;
		background-size: 100% auto;
	}
}

.button_consulting { 
	float: right;
	margin: 14px 0;
	text-align: center;
	@media (max-width:600px) {
		float: none;
	}
	a { 
		.btn;
	}
}

#col-top {
	position: relative;
	padding: 0 0 12px;
	margin: 0 0 60px;
	background: #dff7f9;
	&:before {
		.fi;
		.border-radius(50%);
		content: '\e808';
		position: absolute;
		width: 68px;
		height: 68px;
		line-height: 68px;
		bottom: -34px;
		left: 50%;
		margin: 0 0 0 -34px;
		font-size: 16px;
		text-align: center;
		color: @c3;
		background: #dff7f9;
	}
}

.main_header { 
	position: relative;
	padding: 62px 0 146px;
	margin: 0 0 -51px;
	background: url(../images/bg/01.jpg) no-repeat top;
	-webkit-background-size: cover;
	background-size: cover;
	@media @md, @sm {
		padding: 40px 0 70px;
		margin: 0 0 -44px;
	}
	@media @xs, @xxs {
		padding: 0;
		margin: 0 0 20px;
	}
	.container { 

		.content { 
			float: left;
			width: 425px;
			font-size: 20px;
			line-height: 1.45;
			font-weight: 600;
			text-transform: uppercase;
			margin: 143px 0 0 60px;
			@media @md, @sm {
				margin: 80px 0 0 0;
			}
			@media @sm {
				width: 400px;
				font-size: 14px;
			}
			@media @xs, @xxs {
				width: 100%;
				font-size: 14px;
				margin: 16.6666% 0 0;
			}
			.title { 
				.fh;
				color: @c3;
				font-size: 46px;
				font-weight: 600;
				line-height: 1;
				letter-spacing: -0.01em;
				padding: 8px 8px 12px 12px;
				margin: 0 0 30px;
				text-transform: none;
				background: #fff;
				@media @sm, @xs, @xxs {
					font-size: 36px;
					margin: 0 0 10px;
				}
				@media @xs, @xxs {
					background: fade(#fff,80);
				}
			}

			p { 
				padding: 16px 14px 18px;
				background: #fff;
				margin: 0 0 20px;
				@media @xs, @xxs {
					background: fade(#fff,80);
				}
			}
		}

		.menu_social-media { 
			float: right;
			margin: 0 0 20px;
			@media @xs, @xxs {
				float: none;
				text-align: center;
			}
			ul { 
				.rlist;
				margin: 0 -6px;
				li { 
					float: left;
					margin: 0 6px;
					@media @xs, @xxs {
						float: none;
						display: inline-block;
						margin-bottom: 12px;
					}
					a {
						display: block;
						color: @c3;
						text-decoration: none;
						&[class*="icon-"] {
							.border-radius(50%);
							.transition(0.2s);
							.box-shadow(2px 2px 0 fade(#000,10));
							font-size: 0;
							width: 64px;
							height: 64px;
							line-height: 64px;
							text-align: center;
							background: #fff;
							@media @sm {
								width: 48px;
								height: 48px;
								line-height: 48px;
							}
							&:hover{
								color: #fff;
								background: @c3;
							}
							&:before {
								font-size: 26px;
								margin: 0;
								line-height: inherit;
							}
						}
					}
					.icon- { 

					}
				}
			}
		}
	}
}

.box_news { 
	position: relative;
	clear: both;
	.container { 

		.items { 
			margin: 0 -10px;
			text-align: center;
			@media @sm {
				margin: 0 -5px;
			}
			.item { 
				display: inline-block;
				vertical-align: top;
				width: 33.3333%;
				padding: 0 10px;
				margin: 0 -2px;
				@media @sm {
					padding: 0 5px;
				}
				@media @xs, @xxs {
					display: block;
					margin: 0 auto;
					width: 100%;
					max-width: 420px;
				}
				a {
					text-decoration: none;
					color: @c1;
					&>.title { 
						.fh;
						position: relative;
						color: #fff;
						margin: 0;
						padding: 12px 20px;
						line-height: 1.1;
						font-size: 24px;
						letter-spacing: 0.02em;
						background: @c3;
						text-align: left;
						@media @md {
							font-size: 19px;
						}
						@media @sm {
							font-size: 17px;
						}
						[class*="icon-"] { 
							margin: 0 0 0 62px;
							@media @md, @sm {
								margin: 0 0 0 46px;
							}
							&:before {
								position: absolute;
								bottom: 0;
								left: 0;
								font-weight: normal;
								width: 60px;
								height: 60px;
								line-height: 60px;
								font-size: 26px;
								text-align: center;
								margin: 0;
								background: @c2;
								@media @md {
									width: 50px;
									height: 50px;
									line-height: 50px;
								}
							}
						}
					}

					figure { 
						@media @lg, @md {
							position: relative;
							padding: 0 0 64%;
							margin: 0 0 30px;
							overflow: hidden;
							@media @md, @sm {
								margin: 0 0 20px;
							}
							img { 
								.transition(0.1s);
								position: absolute;
								top: -3%;
								left: -3%;
								max-width: inherit;
								width: 106%!important;
							}
						}

						.title { 
							@media @lg, @md {
								margin: 0;
								position: absolute;
								bottom: 42px;
								left: 40px;
								right: 40px;
								font-size: 24px;
								line-height: 1.2;
								color: @c3;
								text-align: left;
								@media @md {
									font-size: 18px;
									bottom: 20px;
									left: 20px;
									right: 20px;
								}
								&:before {
									content: '';
									position: absolute;
									top: -3px;
									right: 100%;
									bottom: -12px;
									width: 10px;
									background: #fff;
									@media @md {
										top: -2px;
										bottom: -11px;
									}
								}
								span {
									background: #fff;
									border-right: 10px solid #fff;
									border-bottom: 10px solid #fff;
								}
							}
							@media @sm, @xs, @xxs {
								font-size: 17px;
								color: @c2;
							}
						}
					}

					&:hover{
						@media @lg, @md {
							figure { 
								img { 
									top: 0;
									left: 0;
									width: 100%!important;
								}
							}
						}
						@media @sm, @xs, @xxs {
							figure {
								.title {
									color: @c3;
								}
							}
						}
					}
				}
				.label { 
					display: inline-block;
					text-align: center;
					text-transform: uppercase;
					color: @c2;
					font-weight: bold;
					font-size: 22px;
					line-height: 1.2;
					margin: 0 0 30px;
					@media @md {
						font-size: 18px;
					}
					@media @sm, @xs, @xxs {
						font-size: 17px;
					}
					a {
						color: @c2;
						&:hover{
							color: @c3;
						}
						&[class*="icon-"] {
							&:before {
								.border-radius(50%);
								display: inline-block;
								vertical-align: middle;
								width: 70px;
								height: 70px;
								font-size: 36px;
								line-height: 68px;
								color: @c3;
								border: 1px solid @c3;
								margin: 0 15px 0 0;
								@media @md, @sm, @xs, @xxs {
									width: 50px;
									height: 50px;
									line-height: 48px;
									font-size: 28px;
								}
								@media @sm, @xs, @xxs {
									display: block;
									margin: 0 auto 10px;
								}
							}
							&:hover{
								&:before {
									color: @c2;
									border-color: @c2;
								}
							}
						}
					}
				}
			}
		}
	}
}

.box_juicer { 
	padding: 40px 0;
	margin: 0 auto 30px;
	@media @xs, @xxs {
		max-width: 420px;
	}
	.juicer-feed {
		h1.referral {
			display: none;
		}
		ul {
			li {
				&:before {
					content: '';
				}
			}
		}
		.j-meta {
			a {
				&:hover{
					color: @c3;
				}
			}
		}
	}
}
.j-post-overlay {
	body & {
		&.juicer-feed {
			ul {
				li {
					padding: 0;
					&:before {
						content: '';
					}
				}
			}
			a.juicer-button {
			    border-color: @c4;
			    color: @c4;
			    &:hover{
			    	background: @c4;
			    }
			}
		}
	}
}

.j-loading {
	body & {
		border-color: @c3;
	}
}

.box_about { 
	float: left;
	width: 50%;
	padding: 0 10% 0 0;
	font-size: 14px;
	line-height: 1.8;
	color: #838383;
	@media @sm, @xs, @xxs {
		width: 100%;
		padding: 0;
	}
	.title { 
		font-size: 0;
		width: 225px;
		height: 45px;
		background: url(../images/logo/01.png) no-repeat;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
}

.box_menu { 
	float: left;
	width: 25%;
	padding: 15px 0 40px 20px;
	@media @sm {
		width: 50%;
	}
	@media @xs, @xxs {
		width: 100%;
		padding-left: 0;
	}
	.title { 
		margin: 0 0 17px;
		line-height: 1.2;
	}

	ul { 
		.rlist;
		li { 
			font-size: 14px;
			line-height: 1.2;
			margin: 0 0 14px;
			color: #838383;
			@media @xs, @xxs {
				display: inline;
				&:after {
					content: ', ';
				}
				&:last-child {
					&:after {
						content: '';
					}
				}
			}
			a { 
				color: #838383;
				text-decoration: none;
				@media @xs, @xxs {
					text-decoration: underline;
				}
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.footer_copy {
	clear: both;
	padding: 10px 0;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #838383;
	border-top: 1px solid #dfe1e4;
	a {
		color: #838383;
	}
}